#music h1,
#music h2,
#music h3,
#music h4,
#music h5,
#music h6{
  font-family: 'Lato', Helvetica, Arial, Verdana;
  font-weight: 700 !important;
  line-height: initial;
  text-transform: capitalize;
  color: #b71234;
}
#music br.clear {
  line-height: 2rem;
}

#music h1{
  font-size: 3rem;				/* 48/16 */
}
#music h2{
  font-weight: 300 !important;
  font-size: 3.125rem;			/* 50/16 */
}
#music h2.alternate{
  font-size: 5rem !important;		/* 80/16 */
}
#music h3{
  font-size: 1.25rem;				/* 20/16 */
}
#music h4{
  font-size: 1.25rem;				/* 20/16 */
  font-style: italic;
}
#music h5{
  font-size: 1.75rem;				/* 28/16 */
}
#music h6{
  font-size: 4.8125rem;			/* 77/16 */
  font-style: italic;
}

#music .intro p{
  font-size: 1.25rem;				/* 20/16 */
}
#music button, #music textarea, #music input, #music select, #music .button{
  border-radius: 0 !important;
  outline: 0 !important;
  background-color: transparent;
  border: none !important;
}
#music a{
  color: #90986b;
}
/*----------------------------button tabs------------------------------*/
#music .container {
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.35, 0, 0.25, 1);
}
#music .ng-scope{
  opacity: 1;
}
#highlightsWrapper {
  padding: 0;
  margin: 0 30px;
}
#highlightsWrapper .nav {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%,0);
  z-index: 9;
  position: absolute;
}
#highlightsWrapper .nav li{
  display: block;
  float: left;
}
#highlightsWrapper .nav li a{
  background-color: #ffffff;
  display: block;
  width: .75rem;
  height: .75rem;
  border: .25rem solid #ffffff;
  opacity: .75;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 .25rem;
}
#highlightsWrapper .nav li a.sel{
  background-color: transparent;
}
#highlightsWrapper .nav li a:hover{
  opacity: 1;
}
#highlights{
  margin: 0;
  padding: 0;
  float: left;
  overflow: hidden;;
  width: 100%;
}
#highlights ul {
  list-style-type: none;
  transition: all .5s cubic-bezier(0.35, 0, 0.25, 1);
  margin: 0;
  padding: 0;
}
#highlights ul li{
  margin: 0 !important;
  display: block;
  float: left;
}
#highlights ul li img{
  width: 100%;
}
#highlights ul li .caption {
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  box-sizing: border-box;
}
#highlights ul li .caption a {
  font-weight: 700;
}


/*----------------------------100% height iframes------------------------------*/

.fluidmedia {
  position: relative;
	padding-bottom: 55%;
	padding-top: 0.525rem;
  height: 0;
}
.fluidmedia iframe,
.fluidmedia embed,
.fluidmedia object {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/*----------------------------widgets------------------------------*/

#music .icon-arrow-left,
#music .icon-arrow-right {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
}
.icon-arrow-left svg,
.icon-arrow-right svg {
  width: 30px;
}
#music .button {
  display: inline-block;
  -webkit-mask-size: cover;
  mask-size: cover;
  color: #ffffff !important;
  cursor: pointer;
}
#music .button.theme-large {
  width: 195px;
  height: 48px;
  -webkit-mask: url(../images/button-large.svg) no-repeat 50% 50%;
  mask: url(../images/button-large.svg)) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
#music .button.theme-small {
  width: 120px;
  height: 36px;
  -webkit-mask: url(../images/button-small.svg) no-repeat 50% 50%;
  mask: url(../images/button-small.svg)) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
}
#music .widget{
  margin: 0 0 0 0;
  position: relative;
  display: block;
}
#music .widget .title{
  text-align: center;
  height: 2.5rem;
  text-transform: lowercase;
  font-style: italic;
  padding: .5rem 0;
  margin: 0;
}
#music .widget img{
  max-width: 100%;
  margin: 0 0 .5rem 0;
}
#music .widget .subhead{
  padding: .5rem 0 0 0;
}
#music .widget .caption{
  font-size: .875rem;
  color: #766a65;
  font-style: italic;
}
#music .widget.story .title,
#music .widget.story .subhead{
  color: #b71234;
}
#music .widget.story svg path{
  fill: #b71234;
}
#music .widget.story .button {
  background-color: #b71234;
}
#music .widget.itinerary .title,
#music .widget.itinerary .subhead{
  color: #165788;
}
#music .widget.itinerary svg path{
  fill: #165788;
}
#music .widget.itinerary .button{
  background-color: #165788;
}
#music .widget.deal .title,
#music .widget.deal .subhead{
  color: #eeaf30;
}
#music .widget.deal svg path{
  fill: #eeaf30;
}
#music .widget.deal .button{
  background-color: #eeaf30;
}
#music .widget.event .title,
#music .widget.event .subhead{
  color: #90986b;
}
#music .widget.event svg path{
  fill: #90986b;
}
#music .widget.event .button{
  background-color: #90986b;
}
#music .widget.event .date{
  color: #ffffff;
  display: block;
  position: absolute;
  top: 2.5rem;
  left: 0;
  margin-top: -1px;
}
#music .widget.event .date .day{
  padding: .25rem;
  background-color: #90986b;
}
#music .widget.event .date .month{
  padding: .25rem;
  background-color: #766a65;
}

/*----------------------------Angular------------------------------*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}