<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="http://fonts.googleapis.com/css?family=Lato:300,300italic,700,700italic|Playfair+Display:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://derekmisler.github.io/css/main.css">
</head>


<body>

<header class="site-header"></header>

<div class="page-content">
<div class="wrapper">



















<link href="/css/music.css" rel="stylesheet" media="all" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="/scripts/controllers/mainController.js"></script>
<div id="music" ng-app="musicApp">
  <div class="container" ng-controller="StoriesController">
    <div class="wrapper">
      <div class="columns-12 intro">
        <h1>Asheville Area Music Scene</h1>
        <p>Asheville’s music scene is born of age old traditions, nurtured by a spirit of independence and the muse of the mountain skyline. The embracing atmosphere reflects a sense of place, harmonic yet playfully divergent and diverse. In a scene that’s on the verge, Asheville’s talented wellspring of music lovers and creators offer the musically minded traveler multi-layered experiences, innovative sounds and the irresistible urge to move. Play on in, won’t you?</p>
        <p> </p>
      </div>
    </div>

    <div class="wrapper" id="highlightsWrapper">
      <ul class="nav">
        <li ng-repeat="story in stories | filter:{featured:'true'}">
          <a ng-href="" ng-click="scrollTo(story,$index)" ng-class="{sel: $index == selected}"></a>
        </li>
      </ul>
      <div id="highlights" ng-style="imagewrapper">
        <ul ng-style="listposition">
          <li ng-repeat="story in stories | filter:{featured:'true'}" ng-style="imagewrapper">
            <div ng-if="story.youtube" class="fluidmedia">
              <iframe width="960" height="405" ng-src="{{ youtubeURL + story.youtube + youtubeOptions }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <img ng-if="!story.youtube" ng-src="{{ imageURL + story.image }}" />
            <div class="caption">
              <h3>{{ story.title }}</h3>
              <p>{{ story.caption | limitTo:240 }}<a ng-href="{{ story.URL }}">... read more</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <br class="clear" />

    <div class="wrapper">
      <ul class="block-grid-3">
        <li ng-repeat="story in stories | filter:{featured:false} | limitTo:6:1" >
          <a title="Continue Reading..." href="" ng-href="{{ story.URL }}" class="widget {{ story.type }}">
            <h4 class="title"><span class="icon-arrow-left" ng-include="'/images/icon-arrow-left.svg'"></span>{{ story.type }}<span class="icon-arrow-right" ng-include="'/images/icon-arrow-right.svg'"></span></h4>
            <img ng-src="{{ imageURL + story.image }}">
            <h3 class="subhead">{{ story.title }}</h3>
            <p class="caption">{{ story.caption | limitTo:140 }}...</p> 
            <button class="button theme-small" ng-href="{{ story.URL }}" >read more</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>









































</div>
</div>

<footer class="site-footer"></footer>

</body>
</html>